---
layout: default
html_class: home
---

<section class="latest-ob-issue">
  <article class="ob-issue featured-issue">
    {% assign issue = site.data.issues[site.data.latest_issue_id] %}

    <header>
      <h2 class="issue-title">No. <span class="ob-id">{{ site.data.latest_issue_id }}</span></h2>
      <p class="cutoff-date">
        includes updates up until {{ issue.meta.cutoff_date | as_swiss_date }}
      </p>
    </header>

    {% if num_annexes > 0 %}
      <p class="annexes">
        Annexes
        {% for annex_item in issue.annexes %}
          {% assign pub_id = annex_item[0] %}
          {% assign position = annex_item[1] %}
          {% if position %}
            Position {{ position }} of
          {% endif %}
          {% trans site.data.publications[pub_id].meta.title %}
        {% endfor %}
      </p>
    {% endif %}

    <p class="actionable lang-links">
      <i class="fas fa-book-open"></i>Read this issue in
      {% for lang in site.languages %}
        {% if issue.meta.languages[lang.id] %}
          <a class="lang"
            href="/issues/{{ issue.meta.id }}-{{ lang.id }}">{{ lang.title }}</a>
        {% endif %}
      {% endfor %}
    </p>

    <p class="actionable langpurpose">
      <i class="fas fa-info-circle"></i>The ITU Operational Bulletin is a fortnightly publication
      containing administrative and operational information
      exchanged between administrations and recognized operating agencies (ROAs)
      and other service providers, entities and organizations,
      in respect to international telecommunication services.
    </p>
  </article>
</section>

<section class="browse-by-recommendation">
  <h2 class="section-title">Filter messages by recommendation</h2>

  <div class="items">
    {% for idx_key in site.data.message_indices['by-rec'] %}
      {% assign meta = idx_key[1].meta %}
      <article class="recommendation">
        <h3 class="title">
          <a href="/messages/complement-to-itu-t-r {{ idx_key[0] }}">{{ meta.code }}</a>
        </h3>
      </article>
    {% endfor %}
  </div>
</section>

<section class="service-publications">
  <h2 class="section-title">View amendments to current lists</h2>

  {% for item in site.data.current_annexes %}
    {% assign pub_id = item[0] %}
    {% assign annex_data = item[1] %}

    <article class="service-publication">
      <h3 class="title">{% trans site.data.publications[pub_id].meta.title %}</h3>

      {% if annex_data.position_on or annex_data.annexed_to_ob %}
        <p class="actionable position-annexed">
          {% if annex_data.position_on %}
            <i class="far fa-calendar-alt"></i>Position on {{ annex_data.position_on | as_swiss_date }}
          {% endif %}
          {% if annex_data.annexed_to_ob %}
            published as annex to
            <a href="https://www.itu.int/pub/T-SP-OB.{{ annex_data.annexed_to_ob }}-{{ site.data.issues[annex_data.annexed_to_ob].meta.publication_date | date: "%Y" }}">
              ITU Operational Bulletin No. {{ annex_data.annexed_to_ob }}</a>
          {% endif %}
        </p>
      {% endif %}

      {% if annex_data.amendments %}
        {% assign latest_amendment = annex_data.amendments.last %}
        <p class="actionable amendments">
          <i class="fas fa-pencil"></i><a href="/messages/amending-sp {{ pub_id }} ({{ annex_data.position_on }})/">
            Amended {{ annex_data.amendments | size }} times
          </a>
          in subsequent issues{% if latest_amendment %}, latest
            {{ site.data.issues[latest_amendment.amended_in_ob_issue].meta.publication_date | as_swiss_date }}
          {% endif %}
        </p>
      {% endif %}
    </article>
  {% endfor %}
</section>

<section class="issue-archive">
  <h2 class="section-title">View older issues</h2>

  <div class="items">
    <ul>
    {% for id in site.data.issue_ids_descending %}
      {% assign issue_data = site.data.issues[id] %}
      {% ifchanged %}
        <li>
          <strong>{{ issue_data.meta.publication_date | date: '%Y' }}</strong>:
          &emsp;
      {% endifchanged %}
      {% if id != site.data.latest_issue_id %}
        <a href="{{ "/issues/" | append: id | append: "-" | append: site.default_language | relative_url }}">{{ id }}</a>
        &ensp;
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</section>
