---
layout: default
html_class: home
---

<section class="about">
  <p>
    During the data entry period, information on this resource may be missing or incomplete.
  </p>

  <div class="included-contents">
    <p>
      ITU Operational Bulletin is the medium for the exchange of information
      on changes in international telecommunication networks and services.
      Each edition includes informational notices and amendments to ITU Service Publications.
      (Read more <a href="https://www.itu.int/pub/T-SP">about ITU OB</a>.)
    <p>
      <em>ITU OB Online</em> is an effort to make the ITU Operational Bulletin messages
      and associated Service Publications easier to view & navigate
      via fully-featured Web interface and machine-readable APIs.
    <p>
      While the information is being filled in,
      some editions of ITU OB and ITU Service Publications may be missing here.
      In such cases please refer
      to <a href="https://www.itu.int/pub/T-SP">authoritative ITU OB resource</a>
      on ITU website.
  </div>
</section>

<section class="latest-ob-issue">
  <article class="ob-issue featured-issue">
    {% assign issue = site.data.issues[site.data.latest_issue_id] %}

    <header>
      <h2 class="issue-title">No. <span class="ob-id">{{ site.data.latest_issue_id }}</span></h2>
      <p class="cutoff-date">
        includes updates up until {{ issue.meta.cutoff_date | as_swiss_date }}
      </p>
    </header>

    {% if num_annexes > 0 %}
      <p class="annexes">
        Annexes
        {% for annex_item in issue.annexes %}
          {% assign pub_id = annex_item[0] %}
          {% assign position = annex_item[1] %}
          {% if position %}
            Position {{ position }} of
          {% endif %}
          {% trans site.data.publications[pub_id].meta.title %}
        {% endfor %}
      </p>
    {% endif %}

    <p class="actionable lang-links">
      <i class="fas fa-book-open"></i>
      Read this issue in
      {% for lang in site.languages %}
        {% if issue.meta.languages[lang.id] %}
          <a class="lang"
            href="/issues/{{ issue.meta.id }}-{{ lang.id }}">{{ lang.title }}</a>
        {% endif %}
      {% endfor %}
    </p>
  </article>
</section>

<section class="browse-by-recommendation">
  <h2 class="section-title">Filter messages by recommendation</h2>

  <div class="items">
    {% for idx_key in site.data.message_indices['by-rec'] %}
      {% assign meta = idx_key[1].meta %}
      <article class="recommendation">
        <h3 class="title">
          <a href="/messages/complement-to-itu-t-r {{ idx_key[0] }}">{{ meta.code }}</a>
        </h3>
      </article>
    {% endfor %}
  </div>
</section>

<section class="service-publications">
  <h2 class="section-title">View publication amendments</h2>

  {% for item in site.data.current_annexes_ordered %}
    {% assign pub_id = item[0] %}
    {% assign annex_data = item[1] %}

    {% if annex_data.amendments %}
      <article class="service-publication">
        <h3 class="title">
          {% if annex_data.amendments %}
            <a
              href="/messages/amending-sp {{ pub_id }} ({{ annex_data.position_on }})/">
          {% endif %}
          {% trans site.data.publications[pub_id].meta.title %}
          {% if annex_data.amendments %}
            </a>
          {% endif %}
        </h3>

        <div class="actionable-row meta">
          {% if annex_data.position_on %}
            <p class="actionable position">
              <i class="far fa-calendar-alt"></i>Position on {{ annex_data.position_on | as_swiss_date }}
            </p>
          {% elsif annex_data.annexed_to_ob %}
            <p class="actionable position">
              <i class="far fa-paperclip"></i>Annexed to ITU OB No. {{ annex_data.annexed_to_ob }}
            </p>
          {% endif %}

          {% if annex_data.amendments %}
            {% assign latest_amendment = annex_data.amendments.last %}
            <p class="actionable amendments">
              <i class="fas fa-pencil"></i>Amended {{ annex_data.amendments | size }} time(s){% if latest_amendment %}, latest
                {{ site.data.issues[latest_amendment.amended_in_ob_issue].meta.publication_date | as_swiss_date }}
              {% endif %}
            </p>
          {% endif %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
</section>

<section class="issue-archive">
  <h2 class="section-title">View older issues</h2>

  <div class="items">
    <ul>
    {% for id in site.data.issue_ids_descending %}
      {% assign issue_data = site.data.issues[id] %}
      {% unless issue_data.incomplete %}
        {% ifchanged %}
          <li>
            <strong>{{ issue_data.meta.publication_date | date: '%Y' }}</strong>:
            &emsp;
        {% endifchanged %}
        {% if id != site.data.latest_issue_id %}
          <a href="{{ "/issues/" | append: id | append: "-" | append: site.default_language | relative_url }}">{{ id }}</a>
          &ensp;
        {% endif %}
      {% endunless %}
    {% endfor %}
    </ul>
  </div>
</section>

<script src="{{ "/assets/expandable-message.js" | relative_url }}"></script>

<script>
  (function () {
    var about = document.querySelector('section.about');
    window.initExpandable(about, about.querySelector('.included-contents'), 'fa-info-circle');
  }());
</script>
