table {
  $border-color: lighten($textColor, 80);

  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    vertical-align: top;
  }
  tr {
    &:last-child {
      border-bottom-width: 0;
    }
  }
}
@mixin compact-table($baseBg) {
  colgroup {
    display: none;
  }
  thead {
    position: sticky;
  }
  caption, th {
    font-weight: bold;
  }
  th, td, caption {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .5em .5em;
    background: darken($baseBg, 5);
    border: 1px solid $baseBg;
    border-bottom: 0;

    p {
      margin: 0;
    }
  }
  td, th {
    &:empty {
      background: $baseBg;
    }
  }
}
dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 1.25em;
  }
}

@mixin with-expandable-toggle($sidePadding) {
  $toggleBackground: whiteSmoke;

  .included-contents {
    display: none;
  }

  > .toggle {
    color: white;
    height: 1rem;
    margin: 1em #{-$sidePadding} 0 #{-$sidePadding};

    background: repeating-linear-gradient(
      135deg,
      $toggleBackground,
      $toggleBackground 10px,
      lighten($toggleBackground, 10) 10px,
      lighten($toggleBackground, 10) 20px
    );
    cursor: pointer;

    .indicator {
      display: inline-block;
      margin: 0 #{$sidePadding} 0 #{$sidePadding + .05rem};
      transition: transform .1s ease-in-out, text-shadow .1s ease-in-out;
      color: $primaryColor;
      cursor: pointer;
      transform: scale(1.2);
    }

    &:hover {
      background: $toggleBackground;

      .indicator {
        transform: scale(1);
        text-shadow: 0 0 5px rgba(white, 0.3);
      }
    }
  }

  &.expanded {
    .included-contents {
      display: block;
    }

    > .toggle {
      .indicator {
        transform: scale(1, 0) rotate(180deg);
      }
      &:hover {
        .indicator {
          transform: scale(1) rotate(180deg);
        }
      }
    }
  }
}

.section-title {
  color: $accentColor;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
}

.message-card {
  $sidePadding: 1rem;
  $baseBoxShadow: 2px 2px 20px -8px rgba(black, 0.4);

  box-shadow: $baseBoxShadow;
  border-radius: $borderRadius;
  margin-left: -$borderRadius;
  padding: 0 $sidePadding;
  padding-top: .01em;

  &.active {
    box-shadow: 0 0 1px 1px rgba($primaryColor, 0.8), $baseBoxShadow;
  }

  > header {
    > .title {
      font-weight: normal;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;

      .label {
        white-space: nowrap;
        margin: .35rem 1rem 0 0;
        font-size: 70%;
      }
      .text {
        flex: 1;
      }
      .anchor {
        $offset: .35rem;
        margin: -(2rem + $offset) 0 0 1rem;
        padding-top: 2rem + $offset;
      }
    }
    .recommendation, .annex-to-ob, .online-link, .label {
      margin-bottom: .5em;
      margin-top: .5em;

      letter-spacing: -.02em;
    }
    .recommendation, .annex-to-ob, .online-link, .toggle {
      font-size: 90%;
    }
  }

  header, .toggle {
    .fas, .far {
      width: 1rem;
      font-size: .8rem;
      text-align: center;
    }
  }

  .included-contents {
    margin-left: -1rem;
    margin-right: -1rem;

    font-size: 80%;
    line-height: 1.2;
    padding: 0 1rem;
    overflow: hidden;
    background: whiteSmoke;

    table {
      @include compact-table(whiteSmoke);
    }

    .sect2, .sect3, .sect4, .sect5 {
      padding-left: .5rem;
      margin-left: -.5rem;
      border-left: .5rem solid darken(whiteSmoke, 3);
    }
    h3, h4, h5, h6 {
      font-size: 110%;
      margin: 1em 0;
    }
  }

  &.with-js {
    @include with-expandable-toggle($sidePadding);
  }
}

.std-label {
  font-weight: bold;
  color: $accentColor;
}

article.message {
  @extend .message-card;

  &.message--amendment {
    .amendment-seq-no {
      font-size: 90%;
    }
  }

  &.message--service_restrictions {
    table {
      @include compact-table(white);
      font-size: 80%;
    }
  }

  &.message--running_annexes {
    table {
      @include compact-table(white);
      font-size: 80%;

      td:first-child, th:first-child {
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }

  &.message--approved_recommendations {
    ul {
      font-size: 80%;
    }
  }
}
