table {
  $border-color: lighten($textColor, 80);

  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    vertical-align: top;
  }
  tr {
    &:last-child {
      border-bottom-width: 0;
    }
  }
}
@mixin compact-table($baseBg) {
  colgroup {
    display: none;
  }
  thead {
    position: sticky;
  }
  caption, th {
    font-weight: bold;
  }
  th, td, caption {
    text-overflow: ellipsis;
    overflow: hidden;
    padding: .5em .5em;
    background: darken($baseBg, 5);
    border: 1px solid $baseBg;
    border-bottom: 0;

    p {
      margin: 0;
    }
  }
  td, th {
    &:empty {
      background: $baseBg;
    }
  }
}
dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-left: 1.25em;
  }
}

.section-title {
  color: $accentColor;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 80%;
}

.message-card {
  $sidePadding: 1rem;

  box-shadow: 2px 2px 20px -8px rgba(black, 0.4);
  border-radius: 1rem;
  padding: 0 $sidePadding;
  overflow: hidden;

  &.with-js {
    $toggleBackground: whiteSmoke;
    transition: width .2s linear;

    .included-contents {
      display: none;
    }

    > .toggle {
      color: white;
      height: 1rem;
      margin: 1em #{-$sidePadding} 0 #{-$sidePadding};

      background: repeating-linear-gradient(
        135deg,
        $toggleBackground,
        $toggleBackground 10px,
        lighten($toggleBackground, 10) 10px,
        lighten($toggleBackground, 10) 20px
      );
      cursor: pointer;

      .indicator {
        display: inline-block;
        margin: 0 #{$sidePadding} 0 #{$sidePadding};
        transition: transform .1s ease-in-out, text-shadow .1s ease-in-out;
        color: $primaryColor;
        cursor: pointer;
        transform: scale(1.2);
      }

      &:hover {
        background: $toggleBackground;

        .indicator {
          transform: scale(1);
          text-shadow: 0 0 5px rgba(white, 0.3);
        }
      }
    }
    &.expanded {
      > .toggle {
        .indicator {
          transform: scale(1, 0) rotate(180deg);
        }
        &:hover {
          .indicator {
            transform: scale(1) rotate(180deg);
          }
        }
      }
      .included-contents {
        display: block;
      }
    }
  }

  > header {
    > .title {
      font-weight: normal;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      .label {
        white-space: nowrap;
        margin: .35rem 1rem 0 0;
        font-size: 70%;
        letter-spacing: -.02em;
      }
    }
    .recommendation, .annex-to-ob, .online-link {
      margin-bottom: .5em;
      margin-top: .5em;
    }
    .recommendation, .annex-to-ob, .online-link, toggle {
      font-size: 90%;

      .fas, .far {
        width: 1rem;
        text-align: center;
      }
    }
  }

  .included-contents {
    margin-left: -1rem;
    margin-right: -1rem;

    font-size: 80%;
    line-height: 1.2;
    padding: 0 1rem;
    overflow: hidden;
    background: whiteSmoke;

    table {
      @include compact-table(whiteSmoke);
    }

    .sect2, .sect3, .sect4, .sect5 {
      padding-left: .5rem;
      margin-left: -.5rem;
      border-left: .5rem solid darken(whiteSmoke, 3);
    }
    h3, h4, h5, h6 {
      font-size: 110%;
      margin: 1em 0;
    }
  }
}

.std-label {
  font-weight: bold;
  color: $accentColor;
}

article.message {
  @extend .message-card;

  &.message--amendment {
    .amendment-seq-no {
      font-size: 90%;
    }
  }

  &.message--service_restrictions {
    table {
      @include compact-table(white);
      font-size: 80%;
    }
  }

  &.message--running_annexes {
    table {
      @include compact-table(white);
      font-size: 80%;

      td:first-child, th:first-child {
        white-space: nowrap;
        font-weight: bold;
      }
    }
  }

  &.message--approved_recommendations {
    ul {
      font-size: 80%;
    }
  }
}
