@mixin reasonableHeaders() {
  > h2 {
    font-size: 180%;
    font-weight: normal;
  }
  > h3 {
    font-size: 100%;
    letter-spacing: .03em;
    font-weight: normal;
    text-transform: uppercase;
  }
  > h2 + h3 {
    margin-top: 0;
  }
}

.docs-label {
  vertical-align: text-top;
  display: inline-block;
  padding: .1rem .5rem;
  background: #a6a6a6;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50%;
  margin-right: 1rem;
}

.docs-index-section {
  display: flex;
  flex-flow: column nowrap;

  @include reasonableHeaders();
}


body.docs-page {
  padding: 0;

  > main > header {
    @include reasonableHeaders();
  }

  @media screen and (min-width: $wideScreenBreakpoint) {
    > header, > main, > footer {
      margin-left: 0;
      margin-right: 0;
      padding-left: 5vw;
      padding-right: 5vw;
    }
    > header > a {
      margin-left: -10px;
    }
  }

  > header {
    background: linear-gradient(160deg, darken(#a6a6a6, 20), #a6a6a6);

    @media screen and (min-width: $wideScreenBreakpoint) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &.in-app-help {
    min-width: unset;

    > header, > main, > footer {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    > main > header {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .breadcrumbs {
        margin-right: 2rem;
      }
    }
  }
}


body.docs-page--tutorial {
  .intro {
    font-size: 120%;
    margin-bottom: 1rem;
  }

  .tutorial {
    // Must match aspect ratio of all videos
    $videoAspectRatio: 0.5625;

    .video {
      margin-left: -2rem;
      margin-bottom: 2rem;

      &, video-js {
        width: 100vw;
        height: 100vw * $videoAspectRatio;
      }
    }

    .items {
      margin-right: 1rem;

      .item, .notes {
        p:first-of-type {
          margin-top: 0;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }

      .item {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .notes {
        margin-top: 1rem;
        padding-left: 2rem;
      }

      .note {
        font-size: 90%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;

        .note-body {
          h4, h5, h6 {
            font-size: 100%;
          }
          > h4, > h5, > h6, > ul, > p, > ol {
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          ul, ol {
            padding-left: 1rem;
          }
        }

        .icon {
          width: 1.5rem;
          height: 1.5rem;
          font-size: 1.4rem;
          margin-right: .5rem;
          margin-left: -2rem;
          color: grey;
        }

        &.intent-primary {
          .icon, .title {
            color: $primaryColor;
          }
        }

        &.intent-accent {
          .icon, .title {
            color: $accentColor;
          }
        }
      }
    }

    @media screen and (min-width: $wideScreenBreakpoint) {
      display: flex;
      flex-flow: row wrap;

      ol.steps {
        margin-top: 0;
        margin-right: 0;
        flex: 1;
        flex-shrink: 0;
        min-width: 30%;
      }
      .video {
        margin-left: 0;
        margin-right: 2rem;
        $factor: 2.2;

        flex: 0;
        flex-basis: 100vw / $factor;
        flex-shrink: 0;
        flex-grow: 0;
        width: unset;
        height: unset;
        min-width: 550px;

        video-js {
          width: 100vw / $factor;
          height: 100vw / $factor * $videoAspectRatio;
          min-width: 550px;
          min-height: 550px * $videoAspectRatio;
          background-color: unset;

          video {
            //width: 100%;
          }
        }
      }
    }
  }
}


body.docs-page--home {
  > main {
    > section, > aside > section {
      @extend .docs-index-section;
    }

    > :first-child {
      padding-right: 2rem;
    }

    > aside, > section.app-docs {
      flex: 1;
    }

    > aside {
      margin: 2rem -2rem 0 -2rem;
      background: whiteSmoke;
      padding: 0 2rem 1rem 2rem;

      ol {
        margin-top: 0;
      }
    }

    > section.app-docs {
      ul {
        margin-top: 0;
        padding-left: 0;
        list-style: none;
      }

      a {
        &::before {
          @extend .docs-label;
          background-color: $linkColor;
          content: " ";
          width: 1rem;
          padding-left: 0;
          padding-right: 0;
        }
      }
      a[href=""] {
        color: #a6a6a6;
        cursor: default;

        &::before {
          @extend .docs-label;
          width: unset;
          content: "soon";
        }
      }
    }

    > aside > section {
      &.app {
        .body {
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-start;

          > * {
            flex: 1;
          }
        }

        .summary {
          margin-bottom: 2rem;

          p:first-of-type {
            margin-top: 0;
          }
          p:last-of-type {
            margin-bottom: 0;
          }
        }

        .download-notes {
          .label {
            @extend .docs-label;
            background-color: $accentColor;
          }
        }

        .distribution {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          .download-links {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 1rem;

            > :not(:last-child) {
              margin-right: 1rem;
            }

            .secondary {
              color: #a6a6a6;
            }

            .release {
              color: $textColor;
            }

            > a.download-link {
              padding: .8rem 2rem;
              border-radius: 2rem;
              flex-shrink: 0;
              color: white;
              white-space: nowrap;
              max-width: 10rem;
              position: relative;
              overflow: hidden;
              z-index: 1;

              &::after {
                transition: transform .2s linear;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 200%;
                content: " ";
                background: linear-gradient(160deg, $primaryColor, lighten($primaryColor, 20));
              }

              &:hover {
                &::after {
                  transform: translateY(-50%);
                }
              }

              .icon {
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }

    @media screen and (min-width: $wideScreenBreakpoint) {
      flex-flow: row nowrap;

      > aside {
        margin: -1rem 0 0 0;
        border-radius: 1rem;
      }
    }
  }
}
