$interMessageMargin: 1.5rem;

@mixin header($bgColor: #a6a6a6, $color: white) {
  padding: .5rem 1rem;
  font-size: 100%;
  text-transform: uppercase;
  background: $bgColor;
  color: $color;
  margin: 0;
  margin-bottom: $interMessageMargin;
}


body.layout--issue {
  > main {
    > header, nav.toc {
      margin: 0 -2rem;
    }

    @media screen and (min-width: $wideScreenBreakpoint) {
      > header, nav.toc {
        margin-left: -5vw;
        margin-right: -5vw;
      }
    }

    > header {
      padding: 0;
      align-self: stretch;

      * { box-sizing: border-box; }

      > .bulletin-title {
        margin: 0;
        background: #d9d9d9;
        color: white;
        text-align: center;
        padding: .3em 1em;

        a, a:visited, a:hover {
          color: inherit;
          text-decoration: none;

          &:after {
            display: block;
            font-size: 50%;
            font-weight: normal;
            content: attr(href);
          }
        }
      }

      > .meta-row {
        display: flex;
        flex-flow: row nowrap;

        > * {
          padding: 0 .7rem;
        }

        &.publication {
          align-items: center;
          background: #a6a6a6;
          color: white;

          .seq-no {
            width: 16.8%;
            margin: 0;
            background: $accentColor;
            text-align: right;
            white-space: nowrap;
            overflow: hidden;
            min-width: 10rem;

            .value {
              font-weight: bold;
              font-size: 140%;
            }
          }
          .publication-date {
            width: 16.8%;
            white-space: nowrap;
          }
          .other {
            display: flex;
            flex-flow: row wrap;
            flex: 1;

            .cutoff-date, .issn {
              margin-right: 1em;
            }
            .cutoff-date {
              white-space: unset;
            }
          }
        }

        &.authors {
          align-items: flex-start;
          font-size: 80%;
          background: whiteSmoke;

          > .author {
            padding: 1rem;
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            .contact-data + .contact-data {
              &:before {
                content: "/ ";
              }
            }
          }
        }
      }
    }

    > nav.toc, > section .legend {
      .fas, .far {
        width: 1.2rem;
        font-size: 1rem;
        text-align: center;
      }
    }

    nav.toc {
      background: whiteSmoke;
      margin-top: .2rem;
      margin-bottom: .2rem;
      padding: 0 1rem;

      align-self: stretch;

      * { box-sizing: border-box; }

      ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      > ul {
        a, a:visited {
          color: inherit;
        }

        > li {
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 1em;

          > a {
            width: 16.8%;
            padding-right: 2rem;
          }
          > ul {
            flex: 1;
          }
        }
      }

      .languages {
        .lang {
          &:after {
            content: ", ";
          }
          &:last-child:after {
            content: "";
          }
        }
      }

      .global-expand-toggle {
        cursor: pointer;
        color: $linkColor;

        .indicator {
          transition: transform .1s ease-in-out;
        }
        &.expanded {
          .indicator {
            transform: scale(1, 1) rotate(90deg);
          }
        }
      }
    }

    nav.with-js.fixable-bar {
      position: fixed;
      top: -4em;
      left: 0;
      right: 0;
      z-index: 2;

      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      transition: top .2s linear;

      box-shadow: 0 2px 9px rgba(black, 0.2);

      .issue-id, .menu-wrapper > .trigger {
        @include header;
        margin: 0;
        white-space: nowrap;
      }

      .issue-id {
        background-color: $accentColor;
        font-weight: bold;
        text-transform: unset;
      }

      div.menu-wrapper {
        overflow: visible;
        position: relative;

        .trigger {
          .fas {
            margin-right: .5rem;
          }
        }

        .trigger, ul li {
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 1rem;
          padding: .5rem 1rem;
          margin: .2rem 0 0 0;

          list-style: none;

          box-shadow: 0 10px 15px -10px rgba(black, 0.3);

          li {
            @extend header;

            &.selected {
              font-weight: bold;
            }
          }
        }

        @mixin withArrowFrom($previousBg) {
          position: relative;
          padding-left: 2rem;

          &:before {
            display: block;
            position: absolute;
            content: " ";
            left: 0;
            top: 50%;
            background-color: $previousBg;
            width: 20px;
            height: 20px;
            transform: translateX(-50%) translateY(-50%) scaleY(4) rotate(45deg);
          }
        }

        &.section-menu {
          .trigger {
            font-weight: bold;
            @include withArrowFrom($accentColor);
          }
          .trigger, ul {
            background: #a6a6a6;
            color: white;
          }
        }

        &.message-menu {
          flex: 1;

          .trigger {
            font-weight: normal;
            text-transform: unset;
            @include withArrowFrom(#a6a6a6);
          }
          .trigger, ul {
            background: $primaryColor;
            color: $primaryColorInverse;
          }
        }
      }

      &.fixed {
        top: 0;

        div.menu-wrapper.expanded ul {
          display: block;
        }
      }
    }

    > section {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;

      .legend {
        font-size: 90%;
        margin-bottom: 1.5rem;

        h4 {
          display: inline-block;
          font-size: 100%;
          font-weight: normal;
          margin-top: 0;
          margin-right: 1.2rem;
        }

        dl {
          margin: 0;
        }
      }

      > h3 {
        @include header;
        align-self: flex-start;
      }
      article.message {
        margin-bottom: $interMessageMargin;
      }
      &.planned-issues {
        margin-bottom: $interMessageMargin;

        table {
          @include compact-table(white);
          font-size: 80%;
        }
      }
    }
  }
}
