body.layout--issue {
  > main {
    nav.toc {
      margin-top: 2em;
    }
    > section {
      margin-top: 2em;

      > h3 {
        @extend .section-title;
        margin-bottom: 2em;
      }
      article.message {
        margin-bottom: 1em;
      }
      &.planned-issues {
        table {
          @include compact-table(white);
        }
      }
    }
  }
}
