body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 5vw 0 5vw;
  line-height: 1.5;
  min-width: 900px;

  > footer {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: right;
    font-size: 80%;
    color: #333;
    opacity: .7;

    .powered-by {
      text-transform: uppercase;
      letter-spacing: .04em;

      a:link, a:visited {
        color: inherit;
        text-decoration: underline;
      }
      .logo {
        filter: grayscale(100%);
        width: 3rem;
        height: 3rem;
        margin-right: .2rem;
        vertical-align: middle;
      }
    }
  }
}

a {
  &:link, &:visited, &:hover {
    color: $linkColor;
    text-decoration: none;
  }
}

body > header {
  background: $primaryColor;
  color: $primaryColorInverse;
  font-size: 80%;

  margin-left: -5vw;
  margin-right: -5vw;
  margin-bottom: .2rem;

  a:link, a:hover, a:visited {
    color: inherit;
  }

  h1, h2, .logo-inverse {
    display: inline-block;
  }
  h1 {
    vertical-align: sub;  // Black magic? :(
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: -.025em;
  }
  h2 {
    vertical-align: sub;  // Black magic? :(
    font-size: 110%;
    font-weight: normal;
    padding-left: 2em;
    position: relative;
    overflow: hidden;

    // Arrow
    &:before {
      display: block;
      position: absolute;
      content: " ";
      border: 1px solid white;
      left: 0;
      top: 50%;
      width: 20px;
      height: 20px;
      transform: translateX(-50%) translateY(-50%) scaleY(2) rotate(45deg);
    }
  }
  .logo, .logo-inverse {
    vertical-align: middle;
    width: $logoSide / 1.5;
    height: $logoSide / 1.5;
    margin: .5rem;
    margin-right: 0;
  }
  .logo {
    display: none;
  }
}

body > main {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

article.service-publication {
  .title {
    margin-bottom: .3em;
    font-weight: normal;
  }
}
