<p>
  By AAP-02, it was announced that the following ITU-T Recommendations were approved,
  in accordance with the procedures outlined in Recommendation ITU-T A.8:
</p>

<ul>
  {% for rec in include.msg.items %}
    {% assign rec_code = rec[0] %}
    {% assign rec_data = site.data.recommendations[rec_code] %}
    {% assign version = rec[1] %}
      <li>
        ITU-T {{ rec_code }} ({{ version }}){% if rec_data.meta.title %}:
        {% trans rec_data.meta.title %}
        {% endif %}
      </li>
  {% endfor %}
</ul>
