<p>
  By {{ include.msg.by }},
  it was announced that the following ITU-T Recommendations were approved,
  in accordance with the procedures outlined
  in {{ include.msg.procedures }}:
</p>

<ul>
  {% for rec in include.msg.items %}
    {% assign rec_code = rec[0] %}
    {% assign rec_data = site.data.recommendations[rec_code].meta %}
    {% assign version = rec[1] %}
      <li>
        ITU-T {{ rec_code }}{% if version %} ({{ version | date: "%m/%Y" }}){% endif %}{% if rec_data.title %}:
        {% trans rec_data.title %}
        {% endif %}
      </li>
  {% endfor %}
</ul>
