---
footer_pills:
  - title: Editors
    url: "/docs/"
    icon: fas fa-pencil-alt
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% assign title = page.title | default: layout.title %}
    {% if title %}{{ title }} — {% endif %}{{ page.site_title | default: site.title }}
  </title>

  <link href="{{ "/assets/favicon-384x384.png" | relative_url }}"
    rel="shortcut icon"
    sizes="384x384"
    type="image/x-icon">

  <link href="{{ "/assets/favicon.png" | relative_url }}"
    rel="shortcut icon"
    sizes="32x32"
    type="image/x-icon">

  <link href="{{ "/assets/favicon-384x384.png" | relative_url }}"
    rel="apple-touch-icon">

  <meta name="description" value="{{ site.description }}">

  <link rel="stylesheet" href="{{ "assets/css/style.css" | relative_url }}">

  <script src="https://kit.fontawesome.com/3ebc4b9810.js"></script>

  {% assign extra_stylesheets = page.extra_stylesheets | default: layout.extra_stylesheets %}
  {% if extra_stylesheets %}
    {% for ss in extra_stylesheets %}
      <link rel="stylesheet"
        href="{{ ss.href }}"
        {% if ss.integrity %}integrity="{{ ss.integrity }}"{% endif %}
        {% if ss.crossorigin %}crossorigin="{{ ss.crossorigin }}"{% endif %}>
    {% endfor %}
  {% endif %}
</head>

<body class="
    {% if page.layout %}layout--{{ page.layout }}{% endif %}
    lang--{{ page.lang }}
    {{ page.html_class | default: layout.html_class }}
    {% if page.in_app_help %}in-app-help{% endif %}
  ">

  <header>
    <span>
      <img class="logo" src="{{ "/assets/logo.png" | relative_url }}" alt="ITU ">
      <img class="logo-inverse" src="{{ "/assets/logo-inverse.png" | relative_url }}" alt="ITU ">
      <h1><a href="{{ page.in_app_help.url_prefix | default: layout.site_home_link | default: "/" }}">{{ layout.site_header | default: "<span class='publication-name'>Operational Bulletin</span> online" | safe }}</a></h1>

      {% if page.breadcrumbs == nil %}
        {% assign breadcrumbs = layout.breadcrumbs %}
      {% else %}
        {% assign breadcrumbs = page.breadcrumbs %}
      {% endif %}
      {% assign num_breadcrumbs = breadcrumbs | size %}

      {% unless page.hide_breadcrumbs == "all" %}
      <h2>
        <nav class="breadcrumbs">
          {%- for crumb in breadcrumbs -%}{%- if crumb.url -%}<a href="{{ crumb.url }}">{%- endif -%}{{ crumb.title }}{%- if crumb.url -%}</a>{% unless forloop.last %}&nbsp;&nbsp;<i class="icon fas fa-caret-right"></i>&nbsp;&nbsp;{% endunless %}{%- endif -%}{%- endfor -%}{% if title and page.hide_breadcrumbs != "title" %}{% if num_breadcrumbs > 0 %}&nbsp;&nbsp;<i class="icon fas fa-caret-right"></i>&nbsp;&nbsp;{% endif %}<span class="title">{{ title }}</span>{% endif %}
        </nav>
      </h2>
      {% endunless %}
    </span>
  </header>

  <main>
    {{ content }}
  </main>

  {% unless page.in_app_help %}
    <footer>
      {% assign footer_pills = page.footer_pills | default: layout.footer_pills %}
      {% for item in footer_pills %}
        <a href="{{ item.url }}" class="footer-pill interactive">
          <i class="icon {{ item.icon }}"></i>
          {{ item.title }}
        </a>
      {% endfor %}

      <a href="https://open.ribose.com/" class="footer-pill interactive powered-by">
        <span class="icon">
          <img class="logo" src="{{ "/assets/ribose-logo.png" | relative_url }}" alt="Ribose logo">
        </span>
        Powered by Ribose
      </a>
    </footer>
  {% endunless %}

  {% assign extra_scripts = page.extra_scripts | default: layout.extra_scripts %}
  {% if extra_scripts %}
    {% for sc in extra_scripts %}
      <script
        src="{{ sc.src }}"
        {% if sc.integrity %}integrity="{{ sc.integrity }}"{% endif %}
        {% if sc.crossorigin %}crossorigin="{{ sc.crossorigin }}"{% endif %}></script>
    {% endfor %}
  {% endif %}

</body>
</html>
