---
layout: default
---

{% assign meta = page.issue.meta %}
{% assign general = page.issue.general %}
{% assign amendments = page.issue.amendments %}
{% assign annexes = page.issue.annexes %}
{% assign num_annexes = page.issue.annexes | size %}

<header>
  {% include issue/header.html %}
</header>

<nav class="toc">
  <h3 class="section-title">Table of Contents</h3>
  {% include issue/toc.html %}
</nav>

{% assign planned_issue_count = page.issue.planned_issues | size %}
{% if planned_issue_count > 0 %}
  <section class="planned-issues">
    <h3>Dates of publication of the next Operational Bulletins</h3>

    <table>
      <thead>
        <tr>
          <th class="seq-no">No.
          <th class="publication-date">Publication date
          <th class="cutoff-date">Including information received by
        </tr>
      </thead>
      <tbody>
        {% for issue in page.issue.planned_issues limit:25 %}
          <tr>
            <td>{{ issue.id }}
            <td>{{ issue.publication_date | date: "%d %b %Y" }}
            <td>{{ issue.cutoff_date | date: "%d %b %Y" }}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}

<section class="general-information" id="general">
  <h3>General information</h3>

  {% for message in general.messages %}
    {% assign anchor = "general-" | append: forloop.index %}
    {% include issue/message.html msg=message anchor=anchor issue=page.issue %}
  {% endfor %}
</section>

<section class="amendments" id="amendments">
  <h3>Amendments to service publications</h3>

  {% for message in amendments.messages %}
    {% assign anchor = "amendments-" | append: forloop.index %}
    {% include issue/message.html msg=message anchor=anchor issue=page.issue %}
  {% endfor %}
</section>

{% if num_annexes > 0 %}
  <section class="annexes" id="annexes">
    <h3>Annexes to this issue</h3>

    {% for annex in annexes %}
      {% assign publication_id = annex[0] %}
      {% assign title = site.data.publications[publication_id].meta.title %}
      {% assign url = site.data.publications[publication_id].meta.url %}
      <article class="annex">
        <header>
          <h3 class="title">
            {% if title %}
              {% if url %}
                <a href="{{ url }}">{% trans title %}</a>
              {% else %}
                {% trans title %}
              {% endif %}
            {% else %}
              {{ publication_id }}
            {% endif %}
          </h3>
        </header>
      </article>
    {% endfor %}
  </section>
{% endif %}

<script src="{{ "/assets/expandable-message.js" | relative_url }}"></script>
<script src="{{ "/assets/issue-nav.js" | relative_url }}"></script>
