---
layout: default
html_class: message_index
---
{% if page.index_id == 'by-rec' %}
  {% assign hide_recommendation = true %}
{% elsif page.index_id == 'by-pub-amended' %}
  {% assign hide_publication = true %}
  {% assign hide_recommendation = true %}
{% endif %}

<header>
  {{ content }}

  {% assign year_count = page.years | size %}
  {% if year_count > 0 %}
    <nav class="yearly-archive">
      <p><i class="fas fa-history"></i>{% unless page.year %}Showing current year. {% endunless %}Browse previous years:
        {% for year in page.years %}
          {% if page.year == year %}
            <strong>{{ year }}</strong>
          {% else %}
            <a href="{% if page.year %}../{% endif %}{{ year }}/">{{ year }}</a>
          {% endif %}
        {% endfor %}
      </p>
    </nav>
  {% endif %}
</header>

<table>
  <thead>
    <tr>
      <th class="date">Date
      <th class="message">Message
  <tbody>
    {% for item in page.messages %}
      {% if issue.meta.id != item.issue_id %}
        {% assign issue = site.data.issues[item.issue_id] %}
      {% endif %}

      <tr>
        <td class="date">
          {% ifchanged %}
            <span class="publication-date">
              {{ issue.meta.publication_date | date: "%b %d" }}
            </span>
          {% endifchanged %}
        </td>

        {% assign type = item.msg.type %}
        {% assign type_tmpl = "ob_messages/" | append: type | append: ".html" %}
        <td class="message">
          {% include issue/message.html
              msg=item.msg
              issue=issue
              anchor=item.anchor
              outside_ob=true
              hide_recommendation=hide_recommendation
              hide_publication=hide_publication %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script src="{{ "/assets/expandable-message.js" | relative_url }}"></script>
