<section class="ob-lists">
  <p>
    A. The following Lists have been published by TSB or BR
    as Annexes to the ITU Operational Bulletin:
  </p>

  <table>
    <thead>
      <tr>
        <th class="seq-no">OB No.
        <th class="list-name">
    </thead>
    <tbody>
      {% for item in include.lists_annexed %}
        {% assign list_id = item[0] %}
        {% assign list_issue_data = item[1] %}
        {% assign list_data = site.data.publications[list_id].meta %}

        <tr>
          <td>{{ list_issue_data.annexed_to_ob }}</td>

          <td>
            {{ list_data.title }}

            {% if list_data.recommendation %}
              (according to
                {{ list_data.recommendation.body }}
                {{ list_data.recommendation.code }}
                ({{ list_data.recommendation.version }}))
            {% endif %}

            {% if list_issue_data.position_on %}
              (Position on {{ list_issue_data.position_on }})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="online-lists">
  <p>
    B. The following Lists are available online from the ITU-T website:
  </p>

  <ul>
    {% for list in general.lists_available_online %}
      <li><a href="{{ list.source }}">{{ list.name }}</a></li>
    {% endfor %}
  </ul>
</section>
