{% for comm in general.nnp.communications %}
  <section class="nnp-communication">
    <h4>{{ comm.country.name }} (country code +{{ comm.country.code }})</h4>
    <p>
      {% assign number_of_communications = comm.dates | size %}
      Communication{% if number_of_communications > 1 %}s{% endif %}
      of {% for date in comm.dates %}{{ date }}{% unless forloop.last %} and {% endunless %}{% endfor %}:
    </p>

    <blockquote>
      {{ comm.contents_html | safe }}
    </blockquote>
  </section>
{% endfor %}
