<p>
  The following identification codes have been <strong>assigned</strong>:
</p>

<table>
  <thead>
    <tr>
      <th>Applicant
      <th>Network
      <th>Country code and identification code
      <th>Date of assignment
    </tr>
  </thead>

  <tbody>
    {% for assignment in general.iptn.assigned %}
      <tr>
        <td>{{ assignment.applicant }}
        <td>{{ assignment.network }}
        <td>+{{ assignment.country_code }} {{ assignment.ident_code }}
        <td>{{ assignment.date }}
      </tr>
    {% endfor %}
  </tbody>
</table>
