<h1 class="bulletin-title">
  <a href="https://www.itu.int/pub/T-SP-OB">
    ITU Operational Bulletin
  </a>
</h1>

<section class="meta-row publication">
  <h2 class="seq-no">
    No. <span class="value">{{ meta.id }}</span>
  </h2>

  <div class="publication-date">
    {{ meta.publication_date | as_swiss_date }}
  </div>

  <div class="other">
    <span class="cutoff-date">
      Information&nbsp;received&nbsp;by {{ meta.cutoff_date | as_swiss_date }}
    </span>

    <span class="issn">
      ISSN {{ meta.issn }}
    </span>

    (Online)
  </div>
</section>

<section class="meta-row authors">
  {% for entity in meta.authors %}
    <article class="author">
      {% if entity.name %}
        <strong class="name">{% trans entity.name %}</strong>
      {% endif %}
      {% if entity.address %}
        <span class="address">{{ entity.address | newline_to_br }}</span>
      {% endif %}
      {% for contact in entity.contacts %}
        {% ifchanged %}
        {% unless forloop.first %}
        </span><!-- start {{ contact.type }} -->
        {% endunless %}
        <span class="contact-entry contact-{{ contact.type }}">
          <span class="contact-label">
            {% if contact.type == "phone" %}Tel:
            {% elsif contact.type == "fax" %}Fax:
            {% elsif contact.type == "email" %}Email:
            {% endif %}
          </span>
        {% endifchanged %}
          <span class="contact-data">{{ contact.data }}</span>
      {% endfor %}
        </span><!-- last contact -->

    </article>
  {% endfor %}
</section>
