{% assign message = include.msg %}
{% assign type = message.type %}
{% assign type_config = site.message_types[type] %}
{% assign type_tmpl = "ob_messages/" | append: type | append: ".html" %}

<article class="message message--{{ type }}">

  <header>
    {% comment %}
      TODO: Simplify logic of choosing the correct title and selectively hiding contents
      for messages (amendments) depending on where they are included
      (message index vs. OB issue page)
    {% endcomment %}

    {% if type == "amendment" %}
      {% assign title = message.title | default: site.data.publications[message.target.publication].meta.title %}
      {% assign recommendation = site.data.publications[message.target.publication].meta.recommendation %}
    {% else %}
      {% assign title = message.title | default: type_config.title %}
      {% assign recommendation = message.recommendation | default: type_config.recommendation %}
    {% endif %}

    <h3 class="title">
      {% if type == "amendment" %}
        <span class="label"
            title="Amendment {% if include.msg.seq_no %}no. {{ include.msg.seq_no }} since specified position was published{% endif %}">
          <i class="fas fa-pencil"></i>
          Amd.
          {% if include.msg.seq_no %}no. {{ include.msg.seq_no }}{% endif %}
          {% unless include.hide_publication %}{% if title %}to{% endif %}{% endunless %}
        </span>
        {% unless include.hide_publication %}
          <span class="text">{% trans title %}</span>
        {% endunless %}
      {% else %}
        <span class="text">{% trans title %}</span>
      {% endif %}

      {% if include.issue and include.anchor %}
        <a
            id="{{ include.anchor }}"
            class="anchor"
            title="Link to this message"
            href="{{ "/issues/" | append: include.issue.meta.id | append: "-" | append: site.default_language | append: "/#" | append: include.anchor | relative_url }}">
          <i class="fas fa-link"></i>
        </a>
      {% endif %}
    </h3>

    {% unless include.hide_recommendation %}
      {% if recommendation %}
        <p class="recommendation">
          <i class="fas fa-stamp"></i> 
          In accordance with
          <span class="std-label">
            <span class="std-body">{{ recommendation.body }}</span>
            <span class="std-type">Recommendation</span>
            <span class="std-id">
              {{ recommendation.code }}
              {% if recommendation.version %}({{ recommendation.version }}){% endif %}
            </span>
          </span>
        </p>
      {% endif %}
    {% endunless %}

    {% unless include.hide_publication %}
      {% if type == "amendment" %}
        {% if include.issue.running_annexes[message.target.publication] %}
          {% assign ob_id = include.issue.running_annexes[message.target.publication].annexed_to_ob %}
          <p class="annex-to-ob">
            <i class="far fa-calendar-alt"></i> Position amended originally published as annex to
            <a href="/issues/{{ ob_id }}-{{ site.default_language }}/">ITU Operational Bulletin No. {{ ob_id }}</a>
            — {{ site.data.issues[ob_id].meta.publication_date }}
          </p>
        {% endif %}
        {% if site.data.publications[message.target.publication].meta.url %}
          <p class="online-link">
            <a href="{{ site.data.publications[message.target.publication].meta.url }}"
              ><i class="fas fa-home"></i> Authoritative resource</a>
          </p>
        {% endif %}
      {% else %}
        {% if type_config.url %}
          <p class="online-link"><a href="{{ type_config.url }}"><i class="fas fa-home"></i> Authoritative resource</a></p>
        {% endif %}
      {% endif %}
    {% endunless %}
  </header>

  {% include {{ type_tmpl }} msg=message issue=include.issue %}

  <script>
    {% comment %}
    Including script this way would limit CSP protection,
    however, it improves UX.
    {% endcomment %}

    (function () {
      if (document.currentScript) {  // Not supported in IE.
        var card = document.currentScript.parentElement;
        var expandableContents = card.querySelector('.included-contents');

        var activeAnchor;
        if (window.location.hash) {
          activeAnchor = window.location.hash;
        }

        var cardAnchor;
        var messageTitleAnchorLink = card.querySelector('header > .title > a.anchor');
        if (messageTitleAnchorLink) {
          cardAnchor = messageTitleAnchorLink.hash;
        }

        if (expandableContents) {
          if (!activeAnchor || activeAnchor !== cardAnchor) {
            expandableContents.style.display = 'none';
          }
          if (activeAnchor && activeAnchor === cardAnchor) {
            card.classList.add('expanded')
            card.classList.add('active');
          }
        }
      }
    }());
  </script>
</article>
