<ul>

  {% if general %}
    <li>
      {% assign prefix = "general" %}
      <a href="#{{ prefix }}">General Information</a>
      <ul>
        {% if general.annexed_lists %}
          <li><a href="#{{ prefix }}-annexed-lists"
            >Lists annexed to the ITU Operational Bulletin</a>
        {% endif %}
      </ul>
    </li>
  {% endif %}

  {% if amendments %}
    <li>
      {% assign prefix = "amendments" %}
      <a href="#{{ prefix }}">Amendments</a>
      <ul>
        {% for amendment in amendments.items %}
          <li>
            <a href="#{{ prefix }}-item-{{ forloop.index }}">{{ amendment.target.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}

</ul>
