<ul>

  {% if general %}
    <li>
      {% assign prefix = "general" %}
      <a href="#{{ prefix }}">General Information</a>
      <ul>
        {% for msg in general.messages %}
          <li>
            <a href="#{{ prefix }}-{{ forloop.index }}">
              {% trans site.message_types[msg.type].title %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {% if amendments %}
    <li>
      {% assign prefix = "amendments" %}
      <a href="#{{ prefix }}">Amendments to&nbsp;service publications</a>
      <ul>
        {% for msg in amendments.messages %}
          <li>
            <a href="#{{ prefix }}-{{ forloop.index }}">
              {% if msg.type == "amendment" %}
                {% trans site.data.publications[msg.target.publication].meta.title %}
              {% else %}
                {% trans site.message_types[msg.type].title %}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {% if num_annexes > 0 %}
    <li>
      <a href="#annexes">Annexes</a>
    </li>
  {% endif %}

</ul>
